// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';

// Media Query Ranges
$small: "only screen and (min-width: 600px)";
$medium: "only screen and (min-width: 900px)";
$large: "only screen and (min-width: 1100px)";

// /* Large desktop */
// @media (min-width: 1200px) { ... }

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) { ... }

// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) { ... }

// /* Landscape phones and down */
// @media (max-width: 480px) { ... }

body{
  overflow: scroll;
  font-family: 'Dosis', sans-serif;
}

.app-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.header-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // box-shadow: 0px 10px 10px 0px #888888;
  // border-bottom: 1px solid #333;
}

.content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictures-content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pics-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header-name{
  font-size: 3em;
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;

}

.cover-image{
  width: 100%;
}

.pictures{
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
}

.pictures:hover{
  opacity: 0.90;
}

.daHeader{
  display: flex;
  flex-flow: row wrap;
  height: 40px;
}

.header-home-link{
  text-decoration: none;
  color: black;
}

.pictures-link{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
  }
}

.tech-stack-link{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
  }
}

.work-link{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
  }

}

.contact-link{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
  }

}

.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  width: 20%;
}

@media only screen and (min-width: 650px) and (max-width: 1100px) {
  .nav-bar{
    width: 35%;
  }
}

@media only screen and (max-width: 650px) {
  .nav-bar{
    width: 60%;
  }
}

.nav-item{

}

.LAM-content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.LAM-header{
  font-size: 40px;
}

.LAM-div{
  display: flex;
  width: 80%;
  margin-top: 3%;
  flex-direction: column;
}

.tech-logos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.imgTagLogos{
  width: 70px;
  max-height: 70px;
  margin: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
  }
}