// Resets, Clearfix, etc
@import 'partials/reset';
@import 'partials/clearfix';
@import './work';
@import './resume-downloader';

// Media Query Ranges
$small: "only screen and (min-width: 600px)";
$medium: "only screen and (min-width: 900px)";
$large: "only screen and (min-width: 1100px)";

// /* Large desktop */
// @media (min-width: 1200px) { ... }

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) { ... }

// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) { ... }

// /* Landscape phones and down */
// @media (max-width: 480px) { ... }

body{
  overflow: scroll;
  font-family: 'Dosis', sans-serif;
}

.app-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.header-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // box-shadow: 0px 10px 10px 0px #888888;
  // border-bottom: 1px solid #333;
}

.content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictures-content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pics-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header-name{
  font-size: 3em;
}

.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;

}

.cover-image{
  width: 100%;
}

.pictures{
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
}

.pictures:hover{
  opacity: 0.90;
}

.extremeHeader{
  margin-left: 5%;
}

.header{
  width: 100%;
}

.daHeader{
  display: flex;
  flex-flow: row wrap;
  height: 40px;
  width: 100%;
  background-color: rgb(0,173,239);
}

.matt-headshot{
  height: 20%;
  width: 20%;
  border-radius: 130px;
  margin-bottom: 20px;
  border: 1px solid black;
  max-width: 250px;
  min-width: 180px;
}

.header-home-link{
  text-decoration: none;
  color: white;
}

.header-link{
  text-decoration: none;
  color: white;
  transition: all .2s ease-out;
  &:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
  }
}

#header-link-home{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

#header-link-contact{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

#header-link-resume{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  width: 20%;
}

.nav-item{
  & div{
    color: white;
  }
}

.LAM-content-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.LAM-header{
  font-size: 40px;
  color: rgb(0,173,239);
  margin-bottom: 7px;
}

.LAM-div{
  display: flex;
  width: 49%;
  margin-top: 3%;
  flex-direction: column;
}

.LAM-text {
  line-height: 150%;
}

.tech-logos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // border-top: 1px solid black;
  cursor: pointer;
}

.techProfDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  height: 36px;
}

.imgTagLogos{
  width: 54px;
  max-height: 70px;
  margin: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  &:hover{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
    opacity: 1;
  }
}

.contact-links-div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  & a{
    margin: 5%;
  }
}

.contact-page-picture{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.cpp-img{
  border-radius: 5px;
}

.socialMediaContact{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  &:hover{
    webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
  }
}

@media only screen and (max-width: 600px){
  .contact-page-picture{
    display: none;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1100px) {
  .nav-bar{
    width: 35%;
  }
}

@media only screen and (max-width: 650px) {
  .nav-bar{
    width: 60%;
  }
  .LAM-div {
    width: 80%;
    text-align: center;
  }
  .matt-headshot {
    width: 40%;
    border-radius: 130px;
    margin-bottom: 10px;
    border: 1px solid #000;
  }
  .contact-links-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & a{
      margin: 5%;
    }
  }
  .socialMediaContact{
    filter: none;
  }
}

