#header-link-work{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.work-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  & a{
    width: 50%;
  }
}

.work-img {
  width: 510px;
  height: 270px;
  margin: 10px;
  border: 2px solid #00adef;
  -webkit-transition: box-shadow 500ms; /* Safari */
  transition: box-shadow 500ms;
  box-sizing: border-box;
  &:hover{
    border: 0px;
    -webkit-box-shadow: 10px 10px 56px 0px rgb(0,173,239);
    -moz-box-shadow: 10px 10px 56px 0px rgb(0,173,239);
    box-shadow: 10px 10px 56px 0px rgb(0,173,239);
  }
}

.img-desc-div{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  & h1{
    width: 100%;
    font-size: 24px;
    color: rgb(0,173,239);
    margin-bottom: 8px;
  }
}

.work-desc{
  line-height: 150%;
  text-align: left;
}

.work-title-header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  & h1{
    font-size: 48px;
  }
}

@media only screen and (max-width: 800px) {
  .work-div{
    display: flex;
    flex-direction: column;
    margin: 0px;
    & a{
      width: 100%;
      margin-top: 10px;
    }
  }

  .work-img{
    width: 95%;
    height: auto;
  }

  .img-desc-div{
    width: 80%;
  }

}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .work-img{
    width: 80%;
    height: auto;
  }
}