.work-div{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  & a{
    width: 50%;
  }
}

.work-img {
  width: 510px;
  height: 270px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-transition: box-shadow 250ms; /* Safari */
  transition: box-shadow 250ms;
  &:hover{
    border: 0px;
    -webkit-box-shadow: 10px 10px 56px 0px rgb(0,173,239);
    -moz-box-shadow: 10px 10px 56px 0px rgb(0,173,239);
    box-shadow: 10px 10px 56px 0px rgb(0,173,239);
  }
}

.img-desc-div{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  & h1{
    width: 100%;
    font-size: 24px;
    color: rgb(0,173,239);
  }
}

.work-desc{
  line-height: 150%;
}

.work-title-header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  & h1{
    font-size: 48px;
  }
}

.outputContainer{
    border: none;
    padding: 0;
    margin: 0px 17px 15px;
    background: #222;
    color: #00fe00;
    width: 99%;
    font-family: monospace;
    font-size: 12px;
    margin-left: 2px;
}


@media only screen and (max-width: 800px) {
  .work-div{
    display: flex;
    flex-direction: column;
    margin: 0px;
    & a{
      width: 100%;
      margin-top: 10px;
    }
  }

  .work-img{
    width: 95%;
    height: auto;
  }

  .img-desc-div{
    width: 80%;
  }

}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .work-img{
    width: 80%;
    height: auto;
  }
}